.homePage-main {
  & .MuiPaper-root {
    min-width: 50rem;
    color: red;
    background: red;
  }

  &__teaching-main {
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    &__card {
      margin: 1rem 1rem 2rem 1rem;
      padding: 1rem;
      background-color: antiquewhite;
      border-radius: 20px;
      font-size: 14px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      flex-direction: row;
      font-weight: 500;
      justify-content: space-between;
      width: 28%;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes leftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes rightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes zoomInOut {
    0% {
      background-size: auto 120vh;
    }
    100% {
      background-size: auto 130vh;
    }
  }
  //   @keyframes zoomInOut {
  //     0% {
  //       background-size: auto 140vh;
  //     }
  //     100% {
  //       background-size: auto 150vh;
  //     }
  //   }
  @keyframes rotateRight {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateLeft {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  @keyframes scrollDownIndicator {
    0% {
      bottom: 40px;
    }
    100% {
      bottom: 20px;
    }
  }
}
