html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins" !important;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  // background-color: #171d25 !important;
}

#root {
  height: 100%;
}

.hover {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  // transition: all 0.2s ease;
  font-size: 13px;
  &:hover {
    // color: rgb(255, 255, 255, 0.7);
    font-weight: 600;
  }
}

.active {
  border-bottom: 3px solid steelblue;
  // border-bottom: 5px solid darkcyan;
  // border-bottom: 5px solid #7f7f7f;
  font-weight: 600;
}

.App {
  height: 100vh;
  width: 100%;
  // overflow: auto;
  transition: all 0.2s ease-in-out;
  // background: #000A27;
}
